:root {
  --amazon-blue: #131921;
  --amazon-price: #b12704;
}

@font-face {
  font-family: 'store-name';
  src: url(../fonts/BruceForeverRegular-X3jd2.ttf);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

#root {
  position: relative;
  background-color: #E3E6E6;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  min-height: 95px;
  min-width: 1010px;
  background-color: var(--amazon-blue);
  color: white; 
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.navLinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinks a {
  font-weight: bold;
}

.navLinks li:hover {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  color: white;
  align-self: center;
}

.navCart,
.navLogo {
  cursor: pointer;
}

.navLogo {
  display: flex;
  align-items: center;
  text-align: center;
}

.navLogo p {
  font-family: 'store-name';
  font-size: .8rem;
}

.navLogoImg {
  width: 70px;
}

.navCart {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.navCart img {
  height: 30px;
}

.numberCart{
  font-size: 14px;
  border: none;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD814;
  color: black;
  position: absolute;
  left: 16px;
  top: -4px;
}

.home {
  min-height: calc(100vh - 95px);
  background-image: url('../imgs/gaming4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
  padding-top: 72px;
  min-width: 1010px;
}

.home h1 {
  font-family: 'store-name';
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  font-size: 4rem;
  background-color: var(--amazon-blue);
  padding: 8px;
  border-radius: 20px;
}

.home h1 img {
  width: 80px;
}

.homeLinks {
  width: 1010px;
  display: flex;
  justify-content: space-evenly;
}

.homeLinks button {
  cursor: pointer;
  padding: 30px 50px;
  border-radius: 16px;
  font-size: 2.4rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
  background-color: white;
  color: var(--amazon-blue);
  font-weight: bold;
  border: none;
}

.homeLinks button:hover {
  background-color: var(--amazon-blue);
  color: white;
}

.shopPage,
.cart,
.contact,
.itemPage {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 16px;
  min-width: 1010px;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  min-height: calc(100vh - 95px);
}

.shopPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.shopSidebar {
  min-width: 250px;
  position: sticky;
  top: 111px;
  padding-top: 53px;
}

.shopCategories {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 16px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shopCategories p {
  font-weight: bold;
  margin-bottom: .5rem;
  align-self: center;
}

.shopCategories li {
  display: inline-block;
  color: blue;
}

.list-item.active {
  text-decoration: underline;
}

.shopCategories li:hover {
  color: #c45500;
  cursor: pointer;
}

.shopItemDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 32px;
  margin-bottom: 10vh;
}

.shopItemDisplay h1 {
  border-bottom: 1px solid grey;
  padding-bottom: 16px;
}

.itemCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 235px;
  min-width: 600px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid grey;
}

.imgHolder {
  width: 33%;
  padding-right: 16px;
  cursor: pointer;
}

.itemCardImg {
  max-height: 200px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.itemCardProductInfo {
  width: 43%;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 0.9rem;
}

.itemCardProductInfo p {
  margin-bottom: 8px;
}

.shopProductName,
.itemCardProductInfo a {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 12px;
  display: inline-block;
  color: blue;
  text-decoration: none;
}

.shopProductName:hover,
.itemCardProductInfo a:hover {
  cursor: pointer;
  color: #c45500;
}

.itemCardProductInfo span {
  font-weight: bold;
}

.itemCardPurchase {
  width: 24%;
  padding-left: 16px;
  text-align: center;
  line-height: 50px;
}

.itemCardPurchase button {
  cursor: pointer;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  background-color: #FFD814;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
}

.itemCardPurchase button:hover {
  background-color: #F7CA00;
}

.itemCardPurchase button img {
  height: 18px;
}

.itemPage {
  position: relative;
  display: flex;
  flex-direction: column;
}

.itemPageContent {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-width: 882px;
  min-height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.itemPageImgHolder {
  width: 50%;
  padding-right: 50px;
}

.itemPageImg {
  max-height: 500px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.itemPageInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 20px;
}

.itemPageInfo hr {
  height: 1px;
  border: none;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
}

.pageProductName {
  font-size: 1.8rem;
  margin-bottom: 12px;
}

.itemPagePurchase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.itemPagePrice {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
}

.itemPagePurchase span {
  color: black;
  font-weight: bold;
}

.itemPagePrice span {
  color: var(--amazon-price);
}

.inStock {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}

.itemPageAdd {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}

.itemQuantitySelector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.customNumContainer {
  display: flex;
  border-radius: 45px;
  background-color: #E3E6E6;
  outline: 1px solid rgba(0, 0, 0, 0.4);
}

.customNumContainer button {
  border: none;
  background-color: #E3E6E6;
  cursor: pointer;
  font-size: 1.3rem;
  z-index: 5;
  transition: 50ms;
}

.customNumContainer button:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.customNumContainer button:active {
  box-shadow: none;
}

.decrementNum {
  padding: 3px 8px 3px 20px;
  border-radius: 45px 0 0 45px;
}

.incrementNum {
  padding: 3px 20px 3px 6px;
  border-radius: 0 45px 45px 0;
}

#itemQuantity {
  appearance: none;
  border: none;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: #e3e6e6;
  cursor: default;
  color: transparent;
  text-shadow: 0px 0px black;
  width: 35px;
}

#itemQuantity:enabled {
  outline: none;
}

#itemQuantity::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.addToCartBtn {
  cursor: pointer;
  width: 40%;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  background-color: #FFD814;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
}

.addToCartBtn:hover {
  background-color: #F7CA00;
}

.addToCartBtn img {
  height: 18px;
}

.returnToShop {
  position: relative;
  top: -10px;
  left: -50px;
  font-size: .8rem;
  align-self: flex-start;
}

.returnToShop a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.returnToShop span {
  cursor: pointer;
}

.returnToShop span:hover {
  text-decoration: underline;
}

.itemReviews {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  padding-bottom: 80px;
}

.fakeShopBackground {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
}

.fakeShopAlert {
  background-color: var(--amazon-blue);
  border-radius: 12px;
  text-align: center;
  padding: 10px 60px;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  z-index: 100;
  font-weight: bold;
}

.fakeShopAlert button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  background-color: rgb(160, 0, 0);
  color: white;
  font-size: 1.5rem;
}

.fakeShopAlert button:hover {
  background-color: rgb(187, 0, 0);
  color: white;
}

.itemAdded {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  top: 58px;
  background-color: white;
  border: 3px solid #F7CA00;
  padding: 20px;
  width: 400px;
  margin-left: -200px;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1000;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

.itemAdded p {
  width: 100%;
  text-align: center;
}

.itemAdded img {
  width: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h1 {
  margin-top: 24px;
  margin-bottom: 82px;
}

.allContacts {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.allContacts p {
  line-height: 1.5rem;
}

.allContacts img {
  width: 48px;
}

.contactGitHub,
.contactTwitter {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.contactGitHub img {
  width: 96px;
}

.contactTwitter img {
  padding: 8px;
  width: 90px;
}

.allContacts button {
  padding: 12px 40px;
  font-size: 1.5rem;
  border: 1px solid var(--amazon-blue);
  border-radius: 12px;
  background-color: white;
  color: var(--amazon-blue);
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.allContacts button:hover {
  background-color: var(--amazon-blue);
  color: white;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  60% {opacity: 1;}
  100% {opacity: 0;} 
} 