:root {
  --amazon-blue: #131921;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

#root {
  position: relative;
  background-color: #E3E6E6;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  min-height: 95px;
  min-width: 1010px;
  background-color: var(--amazon-blue);
  color: white; 
  position: sticky;
  top: 0;
  z-index: 100;
}

.navLinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinks a {
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: white;
  align-self: center;
}

.navCart,
.navLogo {
  cursor: pointer;
}

.navCart {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.navCart img {
  height: 30px;
}

.numberCart{
  font-size: 14px;
  border: none;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD814;
  color: black;
  position: absolute;
  left: 16px;
  top: -4px;
}

.shopPage,
.cart,
.contact,
.itemPage {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 16px;
  min-width: 1010px;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  min-height: calc(100vh - 95px);
}

.shopPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.shopSidebar {
  min-width: 250px;
  position: sticky;
  top: 111px;
  padding-top: 53px;
}

.shopCategories {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 16px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shopCategories p {
  font-weight: bold;
  margin-bottom: 1rem;
  align-self: center;
}

.shopCategories li {
  display: inline-block;
  color: blue;
}

.list-item.active {
  text-decoration: underline;
}

.shopCategories li:hover {
  color: #c45500;
  cursor: pointer;
}

.shopItemDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 32px;
  margin-bottom: 10vh;
}

.shopItemDisplay h1 {
  border-bottom: 1px solid grey;
  padding-bottom: 16px;
}

.itemCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 235px;
  min-width: 600px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid grey;
}

.imgHolder {
  width: 33%;
  padding-right: 16px;
  cursor: pointer;
}

.itemCardImg {
  max-height: 200px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.itemCardProductInfo {
  width: 43%;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 0.9rem;
}

.itemCardProductInfo p {
  margin-bottom: 8px;
}

.shopProductName,
.itemCardProductInfo a {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 12px;
  display: inline-block;
  color: blue;
  text-decoration: none;
}

.shopProductName:hover,
.itemCardProductInfo a:hover {
  cursor: pointer;
  color: #c45500;
}

.itemCardProductInfo span {
  font-weight: bold;
}

.itemCardPurchase {
  width: 24%;
  padding-left: 16px;
  text-align: center;
  line-height: 50px;
}

.itemCardPurchase button {
  cursor: pointer;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  background-color: #FFD814;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
}

.itemCardPurchase button:hover {
  background-color: #F7CA00;
}

.itemCardPurchase button img {
  height: 18px;
}

.itemPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemPageContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 1010px;
  margin-top: 20px;
}

.itemPageImgHolder {
  width: 60%;
  padding-right: 50px;
}

.itemPageImg {
  max-height: 400px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.itemPageInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pageProductName {
  font-size: 1.8rem;
  margin-bottom: 12px;
}

.returnToShop {
  position: relative;
  top: -10px;
  left: -50px;
  font-size: .8rem;
  align-self: flex-start;
}

.returnToShop a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.774);
}

.returnToShop span {
  cursor: pointer;
}

.returnToShop span:hover {
  text-decoration: underline;
}

.fakeShopBackground {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
}

.fakeShopAlert {
  background-color: #333;
  border-radius: 12px;
  text-align: center;
  padding: 10px 60px;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  z-index: 100;
  font-weight: bold;
}

.fakeShopAlert button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  background-color: rgb(160, 0, 0);
  color: white;
  font-size: 1.5rem;
}

.fakeShopAlert button:hover {
  background-color: rgb(187, 0, 0);
  color: white;
}